body{
    background-color: #0C1C2E;
    color: white;
    padding: 0;
    margin: 0;  
}
header{
    border-bottom: 2px solid rgb(85, 85, 85);
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 20px ;
    position: relative;
}


.icons{
    display: flex;
    gap: 15px;
    top: 45px;
    position: absolute;
    right: 40px;
}
.icons a{
    color: white;
    font-size: 20px;
}

.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}


.introduction{
    padding: 50px 40px;
    text-align: left;
    max-width: 1200px;
}


.introduction h2{
    font-size: 42px;
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
}


.introduction div{
    line-height: 1.5;
    font-size: 25px;
    color: #5b6a71;
}

.introduction span{
    color: rgb(23, 222,168);
}


.menu{
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 0;
    gap: 5px;
    justify-content: center;
}
.menu a {
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 16px;
    color: white;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.menu portrait{
    background-color: #1bd79e;
}
.foto{
    gap: 10px;
    display: grid;
}
.foto img{
    width: 100%;
    height: auto;
    display: block;
}
footer p{
    color: #5b6a71;
    text-align: centers;
}




@media (min-width: 1024px) {
    header {
        padding: 20px;
        justify-content: space-between;
    }
 
   
    body {
        margin: 0 5%;
    }
 
    .introduction {
        max-width: 100%;
        text-align: left;
    }
 
    .introduction h2 {
        font-size: 42px;
    }
 
    .introduction div{
        color: #5b6a71;
    }
 
    .foto {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .menu {
        text-align: center;
        margin-bottom: 40px;
    }
 
    .menu a {
        margin: 0 20px;
        font-size: 16px;
    }
    .menu #portrait{
        background-color: #1bd79e;
    }
 
  
  footer { /*centrer le footer*/
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #666666;
    }
}


@media (min-width: 601px) and (max-width: 1024px) {/*configuration en mode tablette*/
    header {
        padding: 20px;
        justify-content: space-between;
    }
 
    
    body {
        margin: 0 3%;
    }
 
    .introduction {
        max-width: 100%;
        text-align: left;
    }

    .menu #portrait{
        background-color: #1bd79e;
    }
 
    .foto { 
        grid-template-columns: repeat(5, 1fr);
        gap: 15px;
    }
}


@media (max-width: 600px) { /*configuration en mode téléphone*/
    header {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }
 
    body {
      margin: 0 5%;
   }
 
    h1 {
        margin-bottom: 20px;
    }
 
    .icons {
        justify-content: center;
        margin-top: 10px;
        position: static;
       
    }
 
    .introduction {
        text-align: left;
        max-width: 100%;
    }
 
    .introduction h2 {
        font-size: 30px;
    }
 
    .introduction div; {
        font-size: 16px;
        color: #5b6a71;
    }
 
    .foto { /*reglage des photos*/
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
 
    /*la configuration des menus */
    .menu {
        gap: 3px;
        padding: 5px 0;
    }
 
    .menu a {
        font-size: 9px;
        padding: 2px 4px;
    }

    .menu #portrait{
        background-color: #1bd79e;
    }
    footer{ /*centrer la fin de page*/
        text-align: center;
        margin-top: 40px;
        font-size: 14px;
        color: #666666;
        }
    }
}
